﻿<%@ Page Title="Score Web APP" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.vb" Inherits="WebScoreSystemUIF._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <asp:Label ID="Label1" runat="server" Text="Email"></asp:Label>
        <asp:TextBox ID="Textenviar" runat="server"></asp:TextBox>
        <asp:Button ID="Btnenviar" runat="server" Text="Enviar" />

      
    </div>

    
       


</asp:Content>
